.offers{
    display: flex;
    width:80%;
    height: 60vh;
    padding: 0px 70px;
    margin-bottom: 150px;
    background: linear-gradient(180deg , #fde1ff , #e1ffea22 60%);
    margin:auto;
    margin-top: 50px;
}
.offers-left {
   flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.offers-left h1{
    font-size:40px;
    font-weight: 600;
}
.offers-left p{
    color:#171717;
    font-size: 20px;
    font-weight: 600;
}
.offers-left button{
    width: 200px;
    height: 50px;
    border-radius: 35px;
    background: #ff4141;
    font-size: 22px;
    color:white;
    border: none;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offers-right {
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.offers-right img{
    height:350px;
}
@media (max-width:780px){
    .offers{
        margin-top: 10px;
        width: 80%;
        height: 40vh;
    }
    .offers-left h1{
        font-size:30px;
     
    }
    .offers-left p{
     font-size: 15px;
     
    }
    .offers-left button{
        width:150px;
       height: 50px;
        font-size: 18px;
        margin-top: 20px;
       
    }
     .offers-right {
         padding-top: 20px;}

        .offers-right img{
            height:300px;
        }
}
@media (max-width:480px){
    .offers{
        padding: 0px 40px;
        width: 90%;
    
    }
    .offers-left h1{
        font-size:20px;
     
    }
    .offers-left p{
     font-size: 12px;
     
    }
    .offers-left button{
        width:100px;
       height: 30px;
        font-size: 15px;
        margin-top: 10px;
       
    }
        .offers-right img{
            height:200px;
        }
}