.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    box-shadow: 0 1px 3px -2px black;
    align-items: center;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap:10px;
}

.nav-logo p{
    color:#171717;
    font-size: 38px;
    font-weight: 600;
}

.nav-menu{
    display: flex;
    list-style: none;
    align-items: center;
    gap:50px;
    color:#626262;
    font-size:20px;
    font-weight:500;
}
.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:3px;
    cursor: pointer;
}
.nav-menu hr{
    border:none;
    width:80%;
    height: 3px;
    border-radius: 10px;
    background: #FF4141;
}
.nav-login-cart{
    display: flex;
    align-items: center;
       gap:45px;
}
.nav-login-cart button{
 width:157px;
 height:58px;
 outline :none;
 border:1px solid #7a7a7a;
 border-radius: 75px;
 color:#515151;
 font-weight:500;
 background: white;
 cursor:pointer;
}
.nav-login-cart button:active{
    background: #f3f3f3;
}
.nav-cart-count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14px;
    background: red;
    color:white;
} 
 .hamburger{
    display: none;
}

.navbar-resp{
    position: absolute;
    top: 60px;
    left: 65%;
    z-index: 30px;

}
.menu-icon{
    background-color: #f1e8e8;
    padding: 15px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.list{
    list-style: none;
}
.menu-icon img{
    width: 20px;
    height: 20px;
}
@media(max-width:1280px){
    .navbar{
        padding:12px 50px;
    }
    .nav-logo img{
        width:40px;
    }
    .nav-logo p{
        font-size: 20px;
    }
    .nav-menu{
        gap:20px;
        font-size: 16px;
    }
    .nav-login-cart{
        gap:20px;
    }
    .navbar-profile p{
             font-size: 10px;
    }
    .nav-login-cart button{
        width: 100px;
        height: 39px;
        font-size: 16px;
    }
    .nav-cart-count{
        margin-left: -40px;
        font-size: 12px;
    }
}
@media(max-width:1024px){
    .navbar{
        padding: 12px 30px;

    }
    .nav-menu{
        gap:15px;
        font-size: 12px;
    }
    .nav-login-cart button{
        width: 80px;
        height: 35px;
        font-size: 14px;
    }
    .nav-login-cart img{
        width: 30px;
    }
    .nav-cart-count{
        width:18px ;
        height: 18px;
    }
}
@media(max-width:680px){
    .hamburger{
        display: block;
        width: 40px;
        height: 40px;
    }
    .nav-login-cart{
        display: none;
    }
    .nav-menu{
        display: none;
    }
}
